*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 5rem;
    width: 100%;
    background-color: rgb(242, 229, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}
.nav .nav__child{
    text-decoration: none;
    color: #fff;
    border: 2px solid rgb(5, 100, 114);
    padding: 1px 0px;
    width: 220px;
    text-align: center;
    /*background-color: rgb(32, 25, 220);*/
    background-color: orange;
    border-radius: 5px;
    font-weight: 600;
}
.nav .nav__child:active{
    box-shadow: 2px 2px 15px gray;
}
.add__students{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 55px 40px;
}
.add__students .student_add_button{
    padding: 5px 35px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 8px;
    background-color: transparent;
    border: 3px solid rgb(32, 25, 220);
}
.add__students .student_add_button:hover{
    background-color: rgb(32, 25, 220);
    color: #fff;
}
.add__students .student_add_button:active{
    /* transform: translatey(2px); */
    box-shadow: 2px 2px 15px gray;
}
table{
    text-align: center;
    
}
tr{
    border: 1px solid black;
}
.table_data{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.contact{
    max-width: 500px;
    margin: auto;
}
.contact .input_container{
    padding: 10px 0;
}
.contact .input_container label{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}
.contact .input_container input{
    width: 100%;
    padding: 3px;
}
input[type='radio'], input[type="checkbox"]{
    margin: 15px 10px;
}